<p style="color: green"><%= notice %></p>
<div class="container">

<h1>Posts</h1>
  <div id="posts">
    <% #ini looping untuk ruby post %>
    <% @posts.each do |post|%>
      <%= render post %>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path %>
</div>